<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVACY_TERMS_PAGE_URL</key>
	<string>https://tomkwok.notion.site/metro-parking-privacy-policy</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.tomkwok.MetroParking.refresh</string>
		<string>com.tomkwok.MetroParking.process</string>
	</array>
	<key>CAR_PARK_BASE_URL</key>
	<string>$(CAR_PARK_BASE_URL)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>metroparking</string>
			</array>
		</dict>
	</array>
	<key>DEV_EMAIL</key>
	<string>tom@itsnoice.com</string>
	<key>DEV_WEBSITE_URL</key>
	<string>https://tomkwok.xyz</string>
	<key>FEEDBACK_FORM_URL</key>
	<string>https://tomkwok.notion.site/2ff063c90271801ab7f6ef7f18d6f206</string>
	<key>AS_REVIEW_URL</key>
	<string>https://apps.apple.com/us/app/metroparking/id6758097346?action=write-review</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModeOther</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModeSubway</string>
	</array>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>TESTFLIGHT_URL</key>
	<string>itms-beta://testflight.apple.com/join/yvA1uTxh</string>
	<key>MKT_PAGE_URL</key>
	<string>https://tomkwok.notion.site/metro-parking</string>
	<key>TFNSW_API_KEY</key>
	<string>$(TFNSW_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
